<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medium to Kindle - Automation</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <h1>Article Kindle Converter</h1>

    <img src="/static/img/ArticleKindleConverter.png" alt="Kindle Logo" width="200" height="300">
    <p>This is a simple script to convert Medium articles to Kindle format (epub).</p>

    <div>
        <label for="article-url">Enter Article URL:</label>
        <input type="text" id="article-url" name="article-url">
    </div>

    <div>
        <label for="email">Enter Email:</label>
        <input type="email" id="email" name="email" disabled>
        <span>Direct sending will be available in the future. For now, you can only download the converted file.</span>
    </div>

    <button id="download-button">Download epub to Kindle</button>

    <div class="github-link">
        <a href="https://github.com/jjeanjacques10/medium-kindle-sender">Contribute on GitHub</a>
    </div>

    <footer>
        <div class="footer-content">
            <div class="social-links">
                <a href="https://twitter.com/jjeanjacques10" target="_blank" rel="noopener noreferrer">Twitter</a>
                <a href="https://github.com/jjeanjacques10" target="_blank" rel="noopener noreferrer">GitHub</a>
    
            </div>
            <div class="copyright">
                &copy; 2024 Article Kindle Converter | Developed by Jean Jacques Barros
            </div>
        </div>
    </footer>

    <script src="/static/js/home.js"></script>
</body>

</html>