<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Send to Kindle for Email</title>
    <link rel="shortcut icon" href="/static/img/ArticleKindleConverter.png">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        h2 {
            text-align: center;
        }

        ol {
            align-items: center;
        }

        img {
            display: block;
            width: 60%;
        }

        table {
            border-collapse: collapse;
            text-align-last: center;
            margin-left: auto;
            margin-right: auto;
        }

        th,
        td {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        th {
            color: black;
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <div class="language-toggle" id="toggle-language">
        <i class="fas fa-globe"></i>
        <span class="language">EN</span>
    </div>

    <div class="navbar">
        <div class="menu-toggle" id="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu">
            <a href="/" class="menu-item">Home</a>
            <a href="/how-to-send-to-kindle" class="menu-item english">How to Send to Kindle</a>
            <a href="/how-to-send-to-kindle" class="menu-item portuguese" style="display: none;">Como Enviar para o
                Kindle</a>
        </div>
    </div>

    <h1 class="english">How to Send to Kindle for Email</h1>
    <h1 class="portuguese" style="display: none;">Como Enviar para o Kindle por Email</h1>

    <h2 class="english">Allow the email from automation on your Kindle following the instructions</h2>
    <h2 class="portuguese" style="display: none;">Permita o e-mail da automação no seu Kindle seguindo as instruções
    </h2>

    <img src="/static/img/configKindle.png" alt="Kindle Logo">

    <div>
        <p class="english">Add personal documents, web content, and other files to your library to read them on your
            Kindle or in the Kindle app with features like reading progress, notes, highlights, bookmarks, and more.
            Your Kindle device has a unique email address that you can send documents to.</p>
        <p class="portuguese" style="display: none;">Adicione documentos pessoais, conteúdo da web e outros arquivos à
            sua biblioteca para lê-los no seu Kindle ou no aplicativo Kindle com recursos como progresso de leitura,
            notas, destaques, marcadores e muito mais. Seu dispositivo Kindle tem um endereço de e-mail exclusivo para o
            qual você pode enviar documentos.</p>
    </div>

    <ol style="list-style-position: inside;">
        <li class="english">Go to <a href="https://www.amazon.com/mycd" target="_blank">Manage Your Content and
                Devices</a>.</li>
        <li class="portuguese" style="display: none;">Acesse <a href="https://www.amazon.com/mycd"
                target="_blank">Gerenciar
                Seu Conteúdo e Dispositivos</a>.</li>
        <li class="english">Select the Preferences tab.</li>
        <li class="portuguese" style="display: none;">Selecione a guia Preferências.</li>
        <li class="english">Under Personal Document Settings, scroll down to Approved Personal Document Email List.</li>
        <li class="portuguese" style="display: none;">Em Configurações de Documentos Pessoais, role para baixo até Lista
            de E-mails de Documentos Pessoais Aprovados.</li>
        <li class="english">Add your email address to the list of approved email addresses.</li>
        <li class="portuguese" style="display: none;">Adicione seu endereço de e-mail à lista de endereços de e-mail
            aprovados.</li>
        <li class="english">Click Add a new approved e-mail address.</li>
        <li class="portuguese" style="display: none;">Clique em Adicionar um novo endereço de e-mail aprovado.</li>
        <li class="english">Enter the desired email address and click Add Address.</li>
        <li class="portuguese" style="display: none;">Insira o endereço de e-mail desejado e clique em Adicionar
            Endereço.</li>
    </ol>

    <h2 class="english">Valid Emails to use with Article Kindle Converter</h2>
    <h2 class="portuguese" style="display: none;">E-mails Válidos para usar com o Article Kindle Converter</h2>

    <table>
        <tr>
            <th>Email</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>automation@trial-3zxk54vne31ljy6v.mlsender.net</td>
            <td>Valid</td>
        </tr>
    </table>

    <footer>
        <div class="footer-content">
            <div class="social-links">
                <a href="https://twitter.com/jjeanjacques10" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-twitter"></i> Twitter</a>
                <a href="https://github.com/jjeanjacques10" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-github"></i> GitHub</a>
            </div>
            <div class="copyright">
                &copy; 2024 Article Kindle Converter | Developed by Jean Jacques Barros
            </div>
        </div>
    </footer>

    <script src="/static/js/menu.js"></script>
    <script src="/static/js/language.js"></script>
</body>

</html>