/* Reset default browser styles */
html,
body,
div,
span,
h1,
p,
button,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Apply box-sizing border-box globally */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
}

/* Form */
#form {
    background-color: #222222;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 10% 20px 10%;
}

input.hint {
    color: rgb(167, 167, 167);
}

/* Header styles */
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #fd9800;
}

h2 {
    color: #ffffff;
}

li {
    color: #d3d3d3;
}

p {
    text-align: center;
}

/* Logo styles */
img {
    display: block;
    margin: 0 auto;
    width: 300px;
    /* Increased size */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: 20px;
}

/* Form container styles */
.form-container {
    max-width: 400px;
    margin: 0 auto;
}

/* Form styles */
label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Message styles */
span {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    color: #777;
}

/* Button styles */
button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

/* GitHub link styles */
.github-link {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    background-color: #333;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 10px;
}

/* Loading, error, success styles */
.loading,
.error,
.success {
    display: none;
    text-align: center;
}

.loading img {
    width: 80px;
}

.success,
.error {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.error {
    background-color: #ffe6e6;
    /* Light red background */
    border: 1px solid #ff9999;
    /* Red border */
    color: #ff3333;
}

.success {
    background-color: #e6ffe6;
    /* Light green background */
    border: 1px solid #99ff99;
    /* Green border */
}

.error span,
.success span {
    display: block;
    margin-top: 5px;
    font-size: 1em;
    /* Increased font size */
}

.language-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.language-toggle i {
    font-size: 1.2em;
    color: #555;
    margin-right: 5px;
    transition: all 0.3s ease;
}

.language-toggle .language {
    font-size: 0.9em;
    color: #555;
    transition: all 0.3s ease;
}

.language-toggle:hover {
    background-color: #f0f0f0;
}

.language-toggle:hover i,
.language-toggle:hover .language {
    color: #333;
}

/* Estilo para links */
a {
    color: #c9c9c9;
    /* Defina a cor desejada */
    text-decoration: none;
    /* Remova sublinhado padrão */
}

/* Estilo para links quando hover (passa o mouse sobre) */
a:hover {
    color: #fd9800;
    /* Defina a cor desejada ao passar o mouse */
}